.card {
  width: 18rem;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 10px;
  border-radius: 0px;
}

.card-img-top {
  min-height: 250px;
  border-radius: 0px;
}

.flex-card {
  flex-basis: auto;
}

.card-location {
  margin-top: -6px;
  font-size: 10px;
  color: gray;
  font-family: helvetica;
}

.card-artist-home {
  font-family: helvetica;
  font-weight: 700;
  font-size: 12px;
  color: #2e2e2e;
  margin-bottom: 7px;
  margin-top: -10px;
}

.card-title-home {
  font-family: "Oswald", sans-serif;
  margin-top: -6px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 30px;
}

.btn-card {
  border-radius: 0px;
  background-color: #fff;
  border: 0px;
  font-size: 12px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #cfcfcf;
}

.buttonBio {
  background-color: #fff;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  border: 1px solid #cfcfcf;
  margin-right: 8px;
}

.buttonModal {
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  border: 1px solid #cfcfcf;
  margin-right: 8px;
}
