.container-fluid {
  padding: 0px;
}

.home-page {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  min-height: 780px;
}

.home-cards {
  float: none;
  margin: 0 auto;
}

.card-img-top {
  width: 100%;
  height: 22.2vw;
  object-fit: cover;
}

.SignupBtn {
  background: rgba(0, 0, 0, 0);
  border: 1.5px solid #fff;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 12px;
  color: #fff;
  font-size: 13px;
  padding-top: 8px;
}

a.link {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.SignupBtn:hover {
  background: rgba(0, 0, 0, 100);
}
