.btn-host {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 10px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;
  border: 0px;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.btn-artist {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;
  border: 0px;
  font-size: 14px;
}

.home-page {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  min-height: 900px;
}

.home-cards {
  float: none;
  margin: 0 auto;
}

.card-img-top {
  width: 100%;
  height: 22.2vw;
  object-fit: cover;
}
