.bio-style {
  padding-left: 20px;
  padding-right: 10px;
}

.mapHeader {
  font-family: "Oswald";
  font-size: 28px;
  margin-top: 10px;
  text-align: center;
}

.mapText {
  font-size: "14px";
  text-align: center;
  padding-bottom: 30px;
}

.mapImage {
  height: 500px;
  width: 800px;
}
